<header class="header aligner-space-between">
    <h1>
        <a href="/" title="Random logo">
            <img src="dist/img/logo.png" alt="Random logo" width="120"/>
        </a>
    </h1>
    <div class="">
        <a href="#" class="js-nav-opener nav-opener aligner-center-vertical" title="Show / hide navigation">
            <span></span><span></span><span></span><span></span>
        </a>
        <nav class="navigation js-navigation">
            <ul class="navigation-list">
                <li class="navigation-list-item">
                    <a href="section1.html" title="Section 1">Section 1</a>
                </li>
                <li class="navigation-list-item">
                    <a href="#" title="Section">Section</a>
                </li>
                <li class="navigation-list-item">
                    <a href="#" title="Section">Section</a>
                </li>
                <li class="navigation-list-item">
                    <a href="#" title="Section">Section</a>
                </li>
            </ul>
        </nav>

    </div>
</header>
